src/main/webapp/wsdl/WSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://banking.com/" xmlns:tns="http://banking.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="checkService" type="tns:checkService"/>

  <xs:element name="checkServiceResponse" type="tns:checkServiceResponse"/>

  <xs:element name="deleteCustomer" type="tns:deleteCustomer"/>

  <xs:element name="deleteCustomerResponse" type="tns:deleteCustomerResponse"/>

  <xs:element name="getBanks" type="tns:getBanks"/>

  <xs:element name="getBanksResponse" type="tns:getBanksResponse"/>

  <xs:element name="getBranches" type="tns:getBranches"/>

  <xs:element name="getBranchesResponse" type="tns:getBranchesResponse"/>

  <xs:element name="getCheckingAccounts" type="tns:getCheckingAccounts"/>

  <xs:element name="getCheckingAccountsResponse" type="tns:getCheckingAccountsResponse"/>

  <xs:element name="getCities" type="tns:getCities"/>

  <xs:element name="getCitiesResponse" type="tns:getCitiesResponse"/>

  <xs:element name="getCustomerCards" type="tns:getCustomerCards"/>

  <xs:element name="getCustomerCardsResponse" type="tns:getCustomerCardsResponse"/>

  <xs:element name="getDepositAccounts" type="tns:getDepositAccounts"/>

  <xs:element name="getDepositAccountsResponse" type="tns:getDepositAccountsResponse"/>

  <xs:element name="getEftName" type="tns:getEftName"/>

  <xs:element name="getEftNameResponse" type="tns:getEftNameResponse"/>

  <xs:element name="getEftNumber" type="tns:getEftNumber"/>

  <xs:element name="getEftNumberResponse" type="tns:getEftNumberResponse"/>

  <xs:element name="getInstallments" type="tns:getInstallments"/>

  <xs:element name="getInstallmentsResponse" type="tns:getInstallmentsResponse"/>

  <xs:element name="getPayments" type="tns:getPayments"/>

  <xs:element name="getPaymentsResponse" type="tns:getPaymentsResponse"/>

  <xs:element name="getRepos" type="tns:getRepos"/>

  <xs:element name="getReposResponse" type="tns:getReposResponse"/>

  <xs:element name="getTransferName" type="tns:getTransferName"/>

  <xs:element name="getTransferNameResponse" type="tns:getTransferNameResponse"/>

  <xs:element name="getTransferNumber" type="tns:getTransferNumber"/>

  <xs:element name="getTransferNumberResponse" type="tns:getTransferNumberResponse"/>

  <xs:element name="loginCustomer" type="tns:loginCustomer"/>

  <xs:element name="loginCustomerResponse" type="tns:loginCustomerResponse"/>

  <xs:element name="saveCheckingAccount" type="tns:saveCheckingAccount"/>

  <xs:element name="saveCheckingAccountResponse" type="tns:saveCheckingAccountResponse"/>

  <xs:element name="saveCustomer" type="tns:saveCustomer"/>

  <xs:element name="saveCustomerCard" type="tns:saveCustomerCard"/>

  <xs:element name="saveCustomerCardResponse" type="tns:saveCustomerCardResponse"/>

  <xs:element name="saveCustomerResponse" type="tns:saveCustomerResponse"/>

  <xs:element name="saveDepositAccount" type="tns:saveDepositAccount"/>

  <xs:element name="saveDepositAccountResponse" type="tns:saveDepositAccountResponse"/>

  <xs:element name="saveEftName" type="tns:saveEftName"/>

  <xs:element name="saveEftNameResponse" type="tns:saveEftNameResponse"/>

  <xs:element name="saveEftNumber" type="tns:saveEftNumber"/>

  <xs:element name="saveEftNumberResponse" type="tns:saveEftNumberResponse"/>

  <xs:element name="saveInstallment" type="tns:saveInstallment"/>

  <xs:element name="saveInstallmentResponse" type="tns:saveInstallmentResponse"/>

  <xs:element name="savePayment" type="tns:savePayment"/>

  <xs:element name="savePaymentResponse" type="tns:savePaymentResponse"/>

  <xs:element name="saveRepo" type="tns:saveRepo"/>

  <xs:element name="saveRepoResponse" type="tns:saveRepoResponse"/>

  <xs:element name="saveTransferName" type="tns:saveTransferName"/>

  <xs:element name="saveTransferNameResponse" type="tns:saveTransferNameResponse"/>

  <xs:element name="saveTransferNumber" type="tns:saveTransferNumber"/>

  <xs:element name="saveTransferNumberResponse" type="tns:saveTransferNumberResponse"/>

  <xs:element name="transferBetweenCheckingAccounts" type="tns:transferBetweenCheckingAccounts"/>

  <xs:element name="transferBetweenCheckingAccountsResponse" type="tns:transferBetweenCheckingAccountsResponse"/>

  <xs:element name="transferToCheckingToDeposit" type="tns:transferToCheckingToDeposit"/>

  <xs:element name="transferToCheckingToDepositResponse" type="tns:transferToCheckingToDepositResponse"/>

  <xs:element name="updateBalance" type="tns:updateBalance"/>

  <xs:element name="updateBalanceResponse" type="tns:updateBalanceResponse"/>

  <xs:complexType name="loginCustomer">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:customer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element name="address" type="xs:string" minOccurs="0"/>
      <xs:element name="fullname" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="id_num" type="xs:string" minOccurs="0"/>
      <xs:element name="lastLoginDate" type="xs:string" minOccurs="0"/>
      <xs:element name="lastLoginIP" type="xs:string" minOccurs="0"/>
      <xs:element name="mail" type="xs:string" minOccurs="0"/>
      <xs:element name="mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="registerDate" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveTransferNumber">
    <xs:sequence>
      <xs:element name="arg0" type="tns:transferBasedOnNumber" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transferBasedOnNumber">
    <xs:sequence>
      <xs:element name="a_id" type="xs:string" minOccurs="0"/>
      <xs:element name="amount" type="xs:double"/>
      <xs:element name="desc" type="xs:string" minOccurs="0"/>
      <xs:element name="t_id" type="xs:int"/>
      <xs:element name="transacDate" type="xs:string" minOccurs="0"/>
      <xs:element name="transferInfo" type="xs:string" minOccurs="0"/>
      <xs:element name="transferType" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveTransferNumberResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCustomer">
    <xs:sequence>
      <xs:element name="arg0" type="tns:customer" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveInstallment">
    <xs:sequence>
      <xs:element name="arg0" type="tns:installment" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="installment">
    <xs:sequence>
      <xs:element name="amount" type="xs:double" minOccurs="0"/>
      <xs:element name="card_id" type="xs:string" minOccurs="0"/>
      <xs:element name="company" type="xs:string" minOccurs="0"/>
      <xs:element name="i_id" type="xs:int"/>
      <xs:element name="productName" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:int"/>
      <xs:element name="term" type="xs:string" minOccurs="0"/>
      <xs:element name="transcDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveInstallmentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBanks">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBanksResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:bank" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bank">
    <xs:sequence>
      <xs:element name="bank_id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transferBetweenCheckingAccounts">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:int"/>
      <xs:element name="arg3" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkingAccount">
    <xs:complexContent>
      <xs:extension base="tns:baseAccount">
        <xs:sequence>
          <xs:element name="dailyTransferLimit" type="xs:double"/>
          <xs:element name="IBAN" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseAccount">
    <xs:sequence>
      <xs:element name="a_id" type="xs:string" minOccurs="0"/>
      <xs:element name="balance" type="xs:double"/>
      <xs:element name="c_id" type="xs:int"/>
      <xs:element name="creationDate" type="xs:string" minOccurs="0"/>
      <xs:element name="currency" type="xs:int"/>
      <xs:element name="status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transferBetweenCheckingAccountsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveEftName">
    <xs:sequence>
      <xs:element name="arg0" type="tns:eftBasedOnName" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eftBasedOnName">
    <xs:complexContent>
      <xs:extension base="tns:eftBaseClass">
        <xs:sequence>
          <xs:element name="receiverMobile" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eftBaseClass">
    <xs:sequence>
      <xs:element name="a_id" type="xs:string" minOccurs="0"/>
      <xs:element name="amount" type="xs:double"/>
      <xs:element name="desc" type="xs:string" minOccurs="0"/>
      <xs:element name="e_id" type="xs:int"/>
      <xs:element name="receiverFullname" type="xs:string" minOccurs="0"/>
      <xs:element name="receiver_identification_no" type="xs:string" minOccurs="0"/>
      <xs:element name="transacDate" type="xs:string" minOccurs="0"/>
      <xs:element name="transferInfo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveEftNameResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCities">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCitiesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:city" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="city">
    <xs:sequence>
      <xs:element name="city_id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCheckingAccounts">
    <xs:sequence>
      <xs:element name="arg0" type="tns:customer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCheckingAccountsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:checkingAccount" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveRepo">
    <xs:sequence>
      <xs:element name="arg0" type="tns:repo" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="repo">
    <xs:sequence>
      <xs:element name="a_id" type="xs:string" minOccurs="0"/>
      <xs:element name="amount" type="xs:double"/>
      <xs:element name="endDate" type="xs:string" minOccurs="0"/>
      <xs:element name="interestRate" type="xs:double"/>
      <xs:element name="r_id" type="xs:int"/>
      <xs:element name="startDate" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveRepoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCheckingAccount">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCheckingAccountResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTransferName">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTransferNameResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:transferBasedOnName" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transferBasedOnName">
    <xs:complexContent>
      <xs:extension base="tns:transferBasedOnNumber">
        <xs:sequence>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="receiverFullname" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getPayments">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPaymentsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:payment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="payment">
    <xs:sequence>
      <xs:element name="a_id" type="xs:string" minOccurs="0"/>
      <xs:element name="amount" type="xs:double"/>
      <xs:element name="p_id" type="xs:int"/>
      <xs:element name="paymentInfo" type="xs:string" minOccurs="0"/>
      <xs:element name="paymentType" type="xs:int"/>
      <xs:element name="transcDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkService">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTransferNumber">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTransferNumberResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:transferBasedOnNumber" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteCustomer">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDepositAccounts">
    <xs:sequence>
      <xs:element name="arg0" type="tns:customer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDepositAccountsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:depositAccount" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="depositAccount">
    <xs:complexContent>
      <xs:extension base="tns:baseAccount">
        <xs:sequence>
          <xs:element name="accountType" type="xs:int"/>
          <xs:element name="av_id" type="xs:int"/>
          <xs:element name="interestRate" type="xs:double"/>
          <xs:element name="term" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getCustomerCards">
    <xs:sequence>
      <xs:element name="arg0" type="tns:customer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomerCardsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:customerCard" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customerCard">
    <xs:sequence>
      <xs:element name="c_id" type="xs:int"/>
      <xs:element name="cardClass" type="xs:int"/>
      <xs:element name="cardLimit" type="xs:double"/>
      <xs:element name="cardStatus" type="xs:int"/>
      <xs:element name="cardType" type="xs:int"/>
      <xs:element name="card_id" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveTransferName">
    <xs:sequence>
      <xs:element name="arg0" type="tns:transferBasedOnName" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveTransferNameResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCustomerCard">
    <xs:sequence>
      <xs:element name="arg0" type="tns:customerCard" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCustomerCardResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEftNumber">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEftNumberResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:eftBasedOnNumber" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eftBasedOnNumber">
    <xs:complexContent>
      <xs:extension base="tns:eftBaseClass">
        <xs:sequence>
          <xs:element name="transferType" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getInstallments">
    <xs:sequence>
      <xs:element name="arg0" type="tns:customerCard" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInstallmentsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:installment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEftName">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEftNameResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:eftBasedOnName" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBranches">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBranchesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:branch" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="branch">
    <xs:sequence>
      <xs:element name="bank_id" type="xs:int"/>
      <xs:element name="branch_id" type="xs:int"/>
      <xs:element name="city_id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transferToCheckingToDeposit">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
      <xs:element name="arg1" type="tns:depositAccount" minOccurs="0"/>
      <xs:element name="arg2" type="xs:double"/>
      <xs:element name="arg3" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transferToCheckingToDepositResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveEftNumber">
    <xs:sequence>
      <xs:element name="arg0" type="tns:eftBasedOnNumber" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveEftNumberResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRepos">
    <xs:sequence>
      <xs:element name="arg0" type="tns:checkingAccount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getReposResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:repo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveDepositAccount">
    <xs:sequence>
      <xs:element name="arg0" type="tns:depositAccount" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveDepositAccountResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePayment">
    <xs:sequence>
      <xs:element name="arg0" type="tns:payment" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePaymentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateBalance">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
      <xs:element name="arg1" type="tns:checkingAccount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateBalanceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

