src/main/webapp/wsdl/WSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://banking.com/" name="WSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://banking.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://banking.com/" schemaLocation="WSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="loginCustomer">
    <part name="parameters" element="tns:loginCustomer"/>
  </message>
  <message name="loginCustomerResponse">
    <part name="parameters" element="tns:loginCustomerResponse"/>
  </message>
  <message name="deleteCustomer">
    <part name="parameters" element="tns:deleteCustomer"/>
  </message>
  <message name="deleteCustomerResponse">
    <part name="parameters" element="tns:deleteCustomerResponse"/>
  </message>
  <message name="saveCustomer">
    <part name="parameters" element="tns:saveCustomer"/>
  </message>
  <message name="saveCustomerResponse">
    <part name="parameters" element="tns:saveCustomerResponse"/>
  </message>
  <message name="saveCustomerCard">
    <part name="parameters" element="tns:saveCustomerCard"/>
  </message>
  <message name="saveCustomerCardResponse">
    <part name="parameters" element="tns:saveCustomerCardResponse"/>
  </message>
  <message name="getCustomerCards">
    <part name="parameters" element="tns:getCustomerCards"/>
  </message>
  <message name="getCustomerCardsResponse">
    <part name="parameters" element="tns:getCustomerCardsResponse"/>
  </message>
  <message name="updateBalance">
    <part name="parameters" element="tns:updateBalance"/>
  </message>
  <message name="updateBalanceResponse">
    <part name="parameters" element="tns:updateBalanceResponse"/>
  </message>
  <message name="saveEftName">
    <part name="parameters" element="tns:saveEftName"/>
  </message>
  <message name="saveEftNameResponse">
    <part name="parameters" element="tns:saveEftNameResponse"/>
  </message>
  <message name="getEftName">
    <part name="parameters" element="tns:getEftName"/>
  </message>
  <message name="getEftNameResponse">
    <part name="parameters" element="tns:getEftNameResponse"/>
  </message>
  <message name="saveEftNumber">
    <part name="parameters" element="tns:saveEftNumber"/>
  </message>
  <message name="saveEftNumberResponse">
    <part name="parameters" element="tns:saveEftNumberResponse"/>
  </message>
  <message name="getEftNumber">
    <part name="parameters" element="tns:getEftNumber"/>
  </message>
  <message name="getEftNumberResponse">
    <part name="parameters" element="tns:getEftNumberResponse"/>
  </message>
  <message name="saveInstallment">
    <part name="parameters" element="tns:saveInstallment"/>
  </message>
  <message name="saveInstallmentResponse">
    <part name="parameters" element="tns:saveInstallmentResponse"/>
  </message>
  <message name="getInstallments">
    <part name="parameters" element="tns:getInstallments"/>
  </message>
  <message name="getInstallmentsResponse">
    <part name="parameters" element="tns:getInstallmentsResponse"/>
  </message>
  <message name="savePayment">
    <part name="parameters" element="tns:savePayment"/>
  </message>
  <message name="savePaymentResponse">
    <part name="parameters" element="tns:savePaymentResponse"/>
  </message>
  <message name="getPayments">
    <part name="parameters" element="tns:getPayments"/>
  </message>
  <message name="getPaymentsResponse">
    <part name="parameters" element="tns:getPaymentsResponse"/>
  </message>
  <message name="saveRepo">
    <part name="parameters" element="tns:saveRepo"/>
  </message>
  <message name="saveRepoResponse">
    <part name="parameters" element="tns:saveRepoResponse"/>
  </message>
  <message name="getRepos">
    <part name="parameters" element="tns:getRepos"/>
  </message>
  <message name="getReposResponse">
    <part name="parameters" element="tns:getReposResponse"/>
  </message>
  <message name="saveTransferName">
    <part name="parameters" element="tns:saveTransferName"/>
  </message>
  <message name="saveTransferNameResponse">
    <part name="parameters" element="tns:saveTransferNameResponse"/>
  </message>
  <message name="getTransferName">
    <part name="parameters" element="tns:getTransferName"/>
  </message>
  <message name="getTransferNameResponse">
    <part name="parameters" element="tns:getTransferNameResponse"/>
  </message>
  <message name="getBanks">
    <part name="parameters" element="tns:getBanks"/>
  </message>
  <message name="getBanksResponse">
    <part name="parameters" element="tns:getBanksResponse"/>
  </message>
  <message name="getCities">
    <part name="parameters" element="tns:getCities"/>
  </message>
  <message name="getCitiesResponse">
    <part name="parameters" element="tns:getCitiesResponse"/>
  </message>
  <message name="getBranches">
    <part name="parameters" element="tns:getBranches"/>
  </message>
  <message name="getBranchesResponse">
    <part name="parameters" element="tns:getBranchesResponse"/>
  </message>
  <message name="checkService">
    <part name="parameters" element="tns:checkService"/>
  </message>
  <message name="checkServiceResponse">
    <part name="parameters" element="tns:checkServiceResponse"/>
  </message>
  <message name="saveCheckingAccount">
    <part name="parameters" element="tns:saveCheckingAccount"/>
  </message>
  <message name="saveCheckingAccountResponse">
    <part name="parameters" element="tns:saveCheckingAccountResponse"/>
  </message>
  <message name="getCheckingAccounts">
    <part name="parameters" element="tns:getCheckingAccounts"/>
  </message>
  <message name="getCheckingAccountsResponse">
    <part name="parameters" element="tns:getCheckingAccountsResponse"/>
  </message>
  <message name="saveDepositAccount">
    <part name="parameters" element="tns:saveDepositAccount"/>
  </message>
  <message name="saveDepositAccountResponse">
    <part name="parameters" element="tns:saveDepositAccountResponse"/>
  </message>
  <message name="getDepositAccounts">
    <part name="parameters" element="tns:getDepositAccounts"/>
  </message>
  <message name="getDepositAccountsResponse">
    <part name="parameters" element="tns:getDepositAccountsResponse"/>
  </message>
  <message name="saveTransferNumber">
    <part name="parameters" element="tns:saveTransferNumber"/>
  </message>
  <message name="saveTransferNumberResponse">
    <part name="parameters" element="tns:saveTransferNumberResponse"/>
  </message>
  <message name="getTransferNumber">
    <part name="parameters" element="tns:getTransferNumber"/>
  </message>
  <message name="getTransferNumberResponse">
    <part name="parameters" element="tns:getTransferNumberResponse"/>
  </message>
  <message name="transferToCheckingToDeposit">
    <part name="parameters" element="tns:transferToCheckingToDeposit"/>
  </message>
  <message name="transferToCheckingToDepositResponse">
    <part name="parameters" element="tns:transferToCheckingToDepositResponse"/>
  </message>
  <message name="transferBetweenCheckingAccounts">
    <part name="parameters" element="tns:transferBetweenCheckingAccounts"/>
  </message>
  <message name="transferBetweenCheckingAccountsResponse">
    <part name="parameters" element="tns:transferBetweenCheckingAccountsResponse"/>
  </message>
  <portType name="WS">
    <operation name="loginCustomer">
      <input wsam:Action="http://banking.com/WS/loginCustomerRequest" message="tns:loginCustomer"/>
      <output wsam:Action="http://banking.com/WS/loginCustomerResponse" message="tns:loginCustomerResponse"/>
    </operation>
    <operation name="deleteCustomer">
      <input wsam:Action="http://banking.com/WS/deleteCustomerRequest" message="tns:deleteCustomer"/>
      <output wsam:Action="http://banking.com/WS/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
    </operation>
    <operation name="saveCustomer">
      <input wsam:Action="http://banking.com/WS/saveCustomerRequest" message="tns:saveCustomer"/>
      <output wsam:Action="http://banking.com/WS/saveCustomerResponse" message="tns:saveCustomerResponse"/>
    </operation>
    <operation name="saveCustomerCard">
      <input wsam:Action="http://banking.com/WS/saveCustomerCardRequest" message="tns:saveCustomerCard"/>
      <output wsam:Action="http://banking.com/WS/saveCustomerCardResponse" message="tns:saveCustomerCardResponse"/>
    </operation>
    <operation name="getCustomerCards">
      <input wsam:Action="http://banking.com/WS/getCustomerCardsRequest" message="tns:getCustomerCards"/>
      <output wsam:Action="http://banking.com/WS/getCustomerCardsResponse" message="tns:getCustomerCardsResponse"/>
    </operation>
    <operation name="updateBalance">
      <input wsam:Action="http://banking.com/WS/updateBalanceRequest" message="tns:updateBalance"/>
      <output wsam:Action="http://banking.com/WS/updateBalanceResponse" message="tns:updateBalanceResponse"/>
    </operation>
    <operation name="saveEftName">
      <input wsam:Action="http://banking.com/WS/saveEftNameRequest" message="tns:saveEftName"/>
      <output wsam:Action="http://banking.com/WS/saveEftNameResponse" message="tns:saveEftNameResponse"/>
    </operation>
    <operation name="getEftName">
      <input wsam:Action="http://banking.com/WS/getEftNameRequest" message="tns:getEftName"/>
      <output wsam:Action="http://banking.com/WS/getEftNameResponse" message="tns:getEftNameResponse"/>
    </operation>
    <operation name="saveEftNumber">
      <input wsam:Action="http://banking.com/WS/saveEftNumberRequest" message="tns:saveEftNumber"/>
      <output wsam:Action="http://banking.com/WS/saveEftNumberResponse" message="tns:saveEftNumberResponse"/>
    </operation>
    <operation name="getEftNumber">
      <input wsam:Action="http://banking.com/WS/getEftNumberRequest" message="tns:getEftNumber"/>
      <output wsam:Action="http://banking.com/WS/getEftNumberResponse" message="tns:getEftNumberResponse"/>
    </operation>
    <operation name="saveInstallment">
      <input wsam:Action="http://banking.com/WS/saveInstallmentRequest" message="tns:saveInstallment"/>
      <output wsam:Action="http://banking.com/WS/saveInstallmentResponse" message="tns:saveInstallmentResponse"/>
    </operation>
    <operation name="getInstallments">
      <input wsam:Action="http://banking.com/WS/getInstallmentsRequest" message="tns:getInstallments"/>
      <output wsam:Action="http://banking.com/WS/getInstallmentsResponse" message="tns:getInstallmentsResponse"/>
    </operation>
    <operation name="savePayment">
      <input wsam:Action="http://banking.com/WS/savePaymentRequest" message="tns:savePayment"/>
      <output wsam:Action="http://banking.com/WS/savePaymentResponse" message="tns:savePaymentResponse"/>
    </operation>
    <operation name="getPayments">
      <input wsam:Action="http://banking.com/WS/getPaymentsRequest" message="tns:getPayments"/>
      <output wsam:Action="http://banking.com/WS/getPaymentsResponse" message="tns:getPaymentsResponse"/>
    </operation>
    <operation name="saveRepo">
      <input wsam:Action="http://banking.com/WS/saveRepoRequest" message="tns:saveRepo"/>
      <output wsam:Action="http://banking.com/WS/saveRepoResponse" message="tns:saveRepoResponse"/>
    </operation>
    <operation name="getRepos">
      <input wsam:Action="http://banking.com/WS/getReposRequest" message="tns:getRepos"/>
      <output wsam:Action="http://banking.com/WS/getReposResponse" message="tns:getReposResponse"/>
    </operation>
    <operation name="saveTransferName">
      <input wsam:Action="http://banking.com/WS/saveTransferNameRequest" message="tns:saveTransferName"/>
      <output wsam:Action="http://banking.com/WS/saveTransferNameResponse" message="tns:saveTransferNameResponse"/>
    </operation>
    <operation name="getTransferName">
      <input wsam:Action="http://banking.com/WS/getTransferNameRequest" message="tns:getTransferName"/>
      <output wsam:Action="http://banking.com/WS/getTransferNameResponse" message="tns:getTransferNameResponse"/>
    </operation>
    <operation name="getBanks">
      <input wsam:Action="http://banking.com/WS/getBanksRequest" message="tns:getBanks"/>
      <output wsam:Action="http://banking.com/WS/getBanksResponse" message="tns:getBanksResponse"/>
    </operation>
    <operation name="getCities">
      <input wsam:Action="http://banking.com/WS/getCitiesRequest" message="tns:getCities"/>
      <output wsam:Action="http://banking.com/WS/getCitiesResponse" message="tns:getCitiesResponse"/>
    </operation>
    <operation name="getBranches">
      <input wsam:Action="http://banking.com/WS/getBranchesRequest" message="tns:getBranches"/>
      <output wsam:Action="http://banking.com/WS/getBranchesResponse" message="tns:getBranchesResponse"/>
    </operation>
    <operation name="checkService">
      <input wsam:Action="http://banking.com/WS/checkServiceRequest" message="tns:checkService"/>
      <output wsam:Action="http://banking.com/WS/checkServiceResponse" message="tns:checkServiceResponse"/>
    </operation>
    <operation name="saveCheckingAccount">
      <input wsam:Action="http://banking.com/WS/saveCheckingAccountRequest" message="tns:saveCheckingAccount"/>
      <output wsam:Action="http://banking.com/WS/saveCheckingAccountResponse" message="tns:saveCheckingAccountResponse"/>
    </operation>
    <operation name="getCheckingAccounts">
      <input wsam:Action="http://banking.com/WS/getCheckingAccountsRequest" message="tns:getCheckingAccounts"/>
      <output wsam:Action="http://banking.com/WS/getCheckingAccountsResponse" message="tns:getCheckingAccountsResponse"/>
    </operation>
    <operation name="saveDepositAccount">
      <input wsam:Action="http://banking.com/WS/saveDepositAccountRequest" message="tns:saveDepositAccount"/>
      <output wsam:Action="http://banking.com/WS/saveDepositAccountResponse" message="tns:saveDepositAccountResponse"/>
    </operation>
    <operation name="getDepositAccounts">
      <input wsam:Action="http://banking.com/WS/getDepositAccountsRequest" message="tns:getDepositAccounts"/>
      <output wsam:Action="http://banking.com/WS/getDepositAccountsResponse" message="tns:getDepositAccountsResponse"/>
    </operation>
    <operation name="saveTransferNumber">
      <input wsam:Action="http://banking.com/WS/saveTransferNumberRequest" message="tns:saveTransferNumber"/>
      <output wsam:Action="http://banking.com/WS/saveTransferNumberResponse" message="tns:saveTransferNumberResponse"/>
    </operation>
    <operation name="getTransferNumber">
      <input wsam:Action="http://banking.com/WS/getTransferNumberRequest" message="tns:getTransferNumber"/>
      <output wsam:Action="http://banking.com/WS/getTransferNumberResponse" message="tns:getTransferNumberResponse"/>
    </operation>
    <operation name="transferToCheckingToDeposit">
      <input wsam:Action="http://banking.com/WS/transferToCheckingToDepositRequest" message="tns:transferToCheckingToDeposit"/>
      <output wsam:Action="http://banking.com/WS/transferToCheckingToDepositResponse" message="tns:transferToCheckingToDepositResponse"/>
    </operation>
    <operation name="transferBetweenCheckingAccounts">
      <input wsam:Action="http://banking.com/WS/transferBetweenCheckingAccountsRequest" message="tns:transferBetweenCheckingAccounts"/>
      <output wsam:Action="http://banking.com/WS/transferBetweenCheckingAccountsResponse" message="tns:transferBetweenCheckingAccountsResponse"/>
    </operation>
  </portType>
  <binding name="WSPortBinding" type="tns:WS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="loginCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveCustomerCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomerCards">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveEftName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEftName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveEftNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEftNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveInstallment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getInstallments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="savePayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPayments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveRepo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRepos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveTransferName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTransferName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBanks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCities">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBranches">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveCheckingAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCheckingAccounts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveDepositAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDepositAccounts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveTransferNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTransferNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferToCheckingToDeposit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferBetweenCheckingAccounts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSService">
    <port name="WSPort" binding="tns:WSPortBinding">
      <soap:address location="http://localhost:8080/Application/WS"/>
    </port>
  </service>
</definitions>

